@page "/book"
@using BookTracker.Shared.Models.Book
@inject HttpClient http
@attribute [Authorize]


<h3>Books</h3>

<a href="/book/create">Create a Book</a>

@if(books != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach(BookListItem book in books)
            {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>
                    <a href=@($"book/{book.Id}")>Details</a>
                    <a href=@($"book/edit/{book.Id}")>Edit</a>
                    <a href=@($"book/delete/{book.Id}")>Delete</a>
                </td>
            </tr>    
            }
        </tbody>
    </table>
    
}
else
{
    <p><em>Loading...</em></p>

}

@code {
    private List<BookListItem> books;

    protected override async Task OnInitializedAsync()
    {
        books = await http.GetFromJsonAsync<List<BookListItem>>("api/book");
    }
}
