@page "/"

<h1>Welcome to BookTracker</h1>

'This page will help you keep track of all the books you want to read, all the ones you've bought and haven't read (oops), and any you've actually started!
You can also find new books to add to your Reading List and add your own if they're not already listed!'


