@page "/genre/edit/{GenreId:int}"
@using BookTracker.Shared.Models.Genre
@inject HttpClient http
@inject NavigationManager navigation
@attribute [Authorize]

<h3>Edit @model.Name Genre</h3>


@if (errorMessage == null)
{
    <div class="container">
        <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <div class="form-group">
                <label>Name</label>
                <InputText class="form-control" @bind-Value="model.Name"/>
            </div>

            <button type="submit" class="btn btn-primary btn-block mt-5">Submit</button>

        </EditForm>
    </div>
}
else
{
    <h5 class="text-danger">@errorMessage</h5>
}


@code
{
    [Parameter]

    public int GenreId { get; set; }

    private GenreUpdate model = new();

    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        
        model = await http.GetFromJsonAsync<GenreUpdate>($"/api/genre/{GenreId}");

    }

    private async void HandleSubmit()
    {
        var editResult = await http.PutAsJsonAsync<GenreUpdate>($"/api/genre/edit/{GenreId}", model);

        if (editResult.IsSuccessStatusCode)
        {
            navigation.NavigateTo($"/genre/{GenreId}");
        }
        else
        {
            errorMessage = "Could not edit genre at this time. Please try again later.";
        }

    }



}